* {
  font-family: Arial, Helvetica, sans-serif;
}

/*========================================Header Design========================================*/
.header {
  padding: 5px;
  background-color: #ffffff;
  color: #ffffff;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
}

.header h1 {
  font-size: 80px;
  background-color: rgb(49, 52, 56, 0.85);
  width: fit-content;
  padding-right: 25px;
  padding-left: 10px;
}

/*========================================Side Nav Bar========================================*/
.sidenav li > a {
  color: white;
}
.sidenav li > a > i {
  color: white !important;
}

/*========================================About me Section========================================*/
#picture {
  max-width: 300px;
  height: auto;
  padding-right: 10px;
  padding-top: 10px;
}

.highlight {
  color: #2a5559;
}

#signing {
  font-size: 2rem;
}
/*========================================My Work Section========================================*/

.cardview {
  min-height: 500px;
}
.card-image img {
  opacity: 0.7;
}

/*when I hover over a portfolio card, then I get a visual feedback*/
.card:hover {
  opacity: 0.5;
  transition: 1s;
}
